.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.4);
    transform: scale(0);
}

.modal.active {
    transform: scale(1);
}

.menu li:hover a {
    color: #d94f5c;
}

button.button {
    font-size: 22px;
    color: black;
    text-decoration: none;
    border-color: white;
    border-width: 0px;
    padding: 10px 0px;
    background-color: white;
    box-shadow: none;
    transition: all 0.45s;
}

button.button:hover {
    background-color: #d94f5c;
}